# Set up

In [43]:
# import libraries 
import pandas as pd
import numpy as np
import simfin as sf
import datetime
import random as rd
%matplotlib inline

#set the local directory where data-files are stored
#change to your own directory
sf.set_data_dir('C:/Users/think/Desktop/UVA/2020Spring/STAT_4996_Capstone/simfin_data')

# 一个cell显示所有output
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

# Set up API key
sf.set_api_key(api_key='free')

#display all columns
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)

In [2]:
%qtconsole

# Define Function

In [3]:
#calculate the proportion of non-missing value in each column
def prop_nonmissing(df):
    df2 = df.reset_index().copy()
    output = pd.DataFrame(index = df2.columns)
    nomiss_prop = []
    for c in df2.columns:
        nomiss_prop.append(round((1-(df2.loc[:,c].isnull().sum()/len(df2.loc[:,c])))*100,2))
    output['Prop'] = nomiss_prop
    return output

# Load in data

In [4]:
#load in entire annual income statement data
df_income_a = sf.load_income(variant='annual', market='us').reset_index()
#load in entire annual balance sheet data 
df_balance_a = sf.load_balance(variant='annual', market='us').reset_index()
#load in entire annual balance sheet data 
df_cashflow_a = sf.load_cashflow(variant='annual', market='us').reset_index()
#load in companies detail
comp = sf.load_companies(market='us').reset_index()
industry = sf.load_industries().reset_index()

Dataset "us-income-annual" on disk (13 days old).
- Loading from disk ... Done!
Dataset "us-balance-annual" on disk (13 days old).
- Loading from disk ... Done!
Dataset "us-cashflow-annual" on disk (13 days old).
- Loading from disk ... Done!
Dataset "us-companies" on disk (4 days old).
- Loading from disk ... Done!
Dataset "industries" on disk (13 days old).
- Loading from disk ... Done!

# Merging Dtat

In [5]:
comp.head(2)
industry.head(2)
comp.shape
industry.shape

  Ticker  SimFinId              Company Name  IndustryId
0      A     45846  AGILENT TECHNOLOGIES INC    106001.0
1     AA    367153                Alcoa Corp    110004.0

   IndustryId       Sector             Industry
0      100001  Industrials  Industrial Products
1      100002  Industrials    Business Services

(2067, 4)

(71, 3)

In [6]:
len(set(df_cashflow_a['Ticker']) & set(df_income_a['Ticker']))
len(set(df_cashflow_a['Ticker']) & set(df_balance_a['Ticker']))
#三个表cover的公司完全相同

1915

1915

In [7]:
#left join industry on company
comp['IndustryId'] = comp[['IndustryId']].astype('float')
df = pd.merge(comp, industry, on ='IndustryId', how = 'left',suffixes=('','_right'))
df.head(5)
df.shape

,Ticker,SimFinId,Company Name,IndustryId,Sector,Industry
0,A,45846,AGILENT TECHNOLOGIES INC,106001.0,Healthcare,Medical Diagnostics & Research
1,AA,367153,Alcoa Corp,110004.0,Basic Materials,Metals & Mining
2,AAC,939324,"AAC Holdings, Inc.",NaN,NaN,NaN
3,AAL,68568,American Airlines Group Inc.,100006.0,Industrials,Airlines
4,AAME,450021,ATLANTIC AMERICAN CORP,104004.0,Financial Services,Insurance - Life

(2067, 6)

In [8]:
#left join income statement on previous df 
df2 = pd.merge(df,df_income_a,on = ['Ticker','SimFinId'], how = 'right')

'''
#check if joined properly: missing value percentage match
prop_nonmissing(df2).sort_values(by = 'Prop',ascending = False)
df2.head(2)
df2.columns
df2.shape
'''

"\n#check if joined properly: missing value percentage match\nprop_nonmissing(df2).sort_values(by = 'Prop',ascending = False)\ndf2.head(2)\ndf2.columns\ndf2.shape\n"

In [9]:
#left join balance sheet on previous df 
df_balance_a.shape
df3 = pd.merge(df2,df_balance_a,on = ['Ticker','SimFinId','Fiscal Year','Currency'], how = 'left', suffixes=('','_b'))

'''
#take a look at the merge data
df3.head(2)
df3.columns
#check if merge successfully, if successful, the row number should not change
df2.shape
df3.shape
prop_nonmissing(df3.iloc[:,~df3.columns.isin(df2.columns)]).sort_values(by = 'Prop', ascending = False)
'''

(14768, 29)

"\n#take a look at the merge data\ndf3.head(2)\ndf3.columns\n#check if merge successfully, if successful, the row number should not change\ndf2.shape\ndf3.shape\nprop_nonmissing(df3.iloc[:,~df3.columns.isin(df2.columns)]).sort_values(by = 'Prop', ascending = False)\n"

In [10]:
#left join balance sheet on previous df 
df_cashflow_a.shape
df4 = pd.merge(df3,df_cashflow_a,on = ['Ticker','SimFinId','Fiscal Year','Currency'], how = 'left', suffixes=('','_c'))

'''
#take a look at the merge data
df4.head(2)
df4.columns
#check if merge successfully, if successful, the row number should not change
df3.shape
df4.shape
prop_nonmissing(df4.iloc[:,~df4.columns.isin(df3.columns)]).sort_values(by = 'Prop', ascending = False)
'''

(14768, 27)

"\n#take a look at the merge data\ndf4.head(2)\ndf4.columns\n#check if merge successfully, if successful, the row number should not change\ndf3.shape\ndf4.shape\nprop_nonmissing(df4.iloc[:,~df4.columns.isin(df3.columns)]).sort_values(by = 'Prop', ascending = False)\n"

In [11]:
#delete old dataframe
del df3
del df2
del df
del df_balance_a
del df_cashflow_a
del df_income_a

In [12]:
#check overlapping columns 
df4.filter(regex='_').head()
df4[['Report Date','Fiscal Period','Publish Date','Shares (Basic)','Shares (Diluted)','Depreciation & Amortization']].head()
#check if we can delete any overlapping column 
#can delete report date_b and _c
#can delete depreciation & amortizaton 
sum((df4['Report Date_b'] == df4['Report Date_c'])== False)
sum((df4['Publish Date_b'] == df4['Publish Date_c'])== False)
sum((df4['Shares (Basic)_c'] == df4['Shares (Basic)'])== False)
sum((df4['Depreciation & Amortization'] == df4['Depreciation & Amortization_c'])== False)

,Report Date_b,Fiscal Period_b,Publish Date_b,Shares (Basic)_b,Shares (Diluted)_b,Report Date_c,Fiscal Period_c,Publish Date_c,Shares (Basic)_c,Shares (Diluted)_c,Depreciation & Amortization_c
0,2008-10-31,Q4,2009-10-05,357000000.0,359000000.0,2008-10-31,FY,2009-10-05,363000000.0,371000000.0,201000000.0
1,2009-10-31,Q4,2009-12-21,343000000.0,343000000.0,2009-10-31,FY,2009-12-21,346000000.0,346000000.0,162000000.0
2,2010-10-31,Q4,2010-12-20,344000000.0,356000000.0,2010-10-31,FY,2010-12-20,347000000.0,353000000.0,202000000.0
3,2011-10-31,Q4,2011-12-16,346000000.0,353000000.0,2011-10-31,FY,2011-12-16,347000000.0,355000000.0,253000000.0
4,2012-10-31,Q4,2012-12-20,348000000.0,353000000.0,2012-10-31,FY,2012-12-20,348000000.0,353000000.0,301000000.0

,Report Date,Fiscal Period,Publish Date,Shares (Basic),Shares (Diluted),Depreciation & Amortization
0,2008-10-31,FY,2009-10-05,363000000.0,371000000.0,NaN
1,2009-10-31,FY,2009-12-21,346000000.0,346000000.0,NaN
2,2010-10-31,FY,2010-12-20,347000000.0,353000000.0,NaN
3,2011-10-31,FY,2011-12-16,347000000.0,355000000.0,NaN
4,2012-10-31,FY,2012-12-20,348000000.0,353000000.0,NaN

0

407

409

14762

In [13]:
#rearrange data frame
#drop useless columns 
df4.drop(columns=['Report Date_b','Report Date_c','Depreciation & Amortization'],inplace=True)
df4.columns

Index(['Ticker', 'SimFinId', 'Company Name', 'IndustryId', 'Sector',
       'Industry', 'Report Date', 'Currency', 'Fiscal Year', 'Fiscal Period',
       'Publish Date', 'Shares (Basic)', 'Shares (Diluted)', 'Revenue',
       'Cost of Revenue', 'Gross Profit', 'Operating Expenses',
       'Selling, General & Administrative', 'Research & Development',
       'Operating Income (Loss)', 'Non-Operating Income (Loss)',
       'Interest Expense, Net', 'Pretax Income (Loss), Adj.',
       'Abnormal Gains (Losses)', 'Pretax Income (Loss)',
       'Income Tax (Expense) Benefit, Net',
       'Income (Loss) from Continuing Operations',
       'Net Extraordinary Gains (Losses)', 'Net Income', 'Net Income (Common)',
       'Fiscal Period_b', 'Publish Date_b', 'Shares (Basic)_b',
       'Shares (Diluted)_b', 'Cash, Cash Equivalents & Short Term Investments',
       'Accounts & Notes Receivable', 'Inventories', 'Total Current Assets',
       'Property, Plant & Equipment, Net',
       'Long Term Investments & Receivables', 'Other Long Term Assets',
       'Total Noncurrent Assets', 'Total Assets', 'Payables & Accruals',
       'Short Term Debt', 'Total Current Liabilities', 'Long Term Debt',
       'Total Noncurrent Liabilities', 'Total Liabilities',
       'Share Capital & Additional Paid-In Capital', 'Treasury Stock',
       'Retained Earnings', 'Total Equity', 'Total Liabilities & Equity',
       'Fiscal Period_c', 'Publish Date_c', 'Shares (Basic)_c',
       'Shares (Diluted)_c', 'Net Income/Starting Line',
       'Depreciation & Amortization_c', 'Non-Cash Items',
       'Change in Working Capital', 'Change in Accounts Receivable',
       'Change in Inventories', 'Change in Accounts Payable',
       'Change in Other', 'Net Cash from Operating Activities',
       'Change in Fixed Assets & Intangibles',
       'Net Change in Long Term Investment',
       'Net Cash from Acquisitions & Divestitures',
       'Net Cash from Investing Activities', 'Dividends Paid',
       'Cash from (Repayment of) Debt', 'Cash from (Repurchase of) Equity',
       'Net Cash from Financing Activities', 'Net Change in Cash'],
      dtype='object')

In [14]:
df4.rename(columns={"Depreciation & Amortization_c": "Depreciation & Amortization"},inplace=True)
df4.columns

Index(['Ticker', 'SimFinId', 'Company Name', 'IndustryId', 'Sector',
       'Industry', 'Report Date', 'Currency', 'Fiscal Year', 'Fiscal Period',
       'Publish Date', 'Shares (Basic)', 'Shares (Diluted)', 'Revenue',
       'Cost of Revenue', 'Gross Profit', 'Operating Expenses',
       'Selling, General & Administrative', 'Research & Development',
       'Operating Income (Loss)', 'Non-Operating Income (Loss)',
       'Interest Expense, Net', 'Pretax Income (Loss), Adj.',
       'Abnormal Gains (Losses)', 'Pretax Income (Loss)',
       'Income Tax (Expense) Benefit, Net',
       'Income (Loss) from Continuing Operations',
       'Net Extraordinary Gains (Losses)', 'Net Income', 'Net Income (Common)',
       'Fiscal Period_b', 'Publish Date_b', 'Shares (Basic)_b',
       'Shares (Diluted)_b', 'Cash, Cash Equivalents & Short Term Investments',
       'Accounts & Notes Receivable', 'Inventories', 'Total Current Assets',
       'Property, Plant & Equipment, Net',
       'Long Term Investments & Receivables', 'Other Long Term Assets',
       'Total Noncurrent Assets', 'Total Assets', 'Payables & Accruals',
       'Short Term Debt', 'Total Current Liabilities', 'Long Term Debt',
       'Total Noncurrent Liabilities', 'Total Liabilities',
       'Share Capital & Additional Paid-In Capital', 'Treasury Stock',
       'Retained Earnings', 'Total Equity', 'Total Liabilities & Equity',
       'Fiscal Period_c', 'Publish Date_c', 'Shares (Basic)_c',
       'Shares (Diluted)_c', 'Net Income/Starting Line',
       'Depreciation & Amortization', 'Non-Cash Items',
       'Change in Working Capital', 'Change in Accounts Receivable',
       'Change in Inventories', 'Change in Accounts Payable',
       'Change in Other', 'Net Cash from Operating Activities',
       'Change in Fixed Assets & Intangibles',
       'Net Change in Long Term Investment',
       'Net Cash from Acquisitions & Divestitures',
       'Net Cash from Investing Activities', 'Dividends Paid',
       'Cash from (Repayment of) Debt', 'Cash from (Repurchase of) Equity',
       'Net Cash from Financing Activities', 'Net Change in Cash'],
      dtype='object')

# Checking for missing values for each finantial ratios

以下所有的formula已全部替换为表内对应字段名
注意
1. Stock Price 目前没有对应字段
2. 有一些标注（year-start)的字段，对应的字段名内没有“(year-start)”


| Liquidity Ratios     | Formula |
| :---- | :---- |
| Current ratio |  Total Current Assets/Total Current Liabilities       |
| Quick ratio | (Cash, Cash Equivalents & Short Term Investments+ Accounts & Notes Receivable)/Total Current Liabilities|
|Net working capital to assets ratio| (Total Current Assets-Total Current Liabilities)/Total Current Assets|
|Cash ratio| Cash, Cash Equivalents & Short Term Investments+ Accounts/Total Current Liabilities|


| Leverage Ratios     | Formula |
| :---- | :---- |
| Long-term debt ratio |  Long Term Debt/(Long Term Debt+ Total Equity) |
| Liabilities to Equity Ratio|Total Liabilities/ Total Equity)|
|Total Debt ratio|Total Liabilities/Total Assets|
| Debt to Assets Ratio|(Long Term Debt+Short Term Debt)/Total Assets|
|Interest coverage ratio|Operating Income (Loss)/Interest Expense, Net|
|Cash coverage ratio|(Operating Income (Loss)+Depreciation & Amortization)/Interest Expense, Net|


| Profitability Ratios     | Formula |
| :---- | :---- |
|After Tax Operating Income|Revenue-Operating Expenses-Depreciation & Amortization-Income Tax (Expense) Benefit, Net|
| Return on Asset |After Tax Operating Income/Total Assets  |
| Return on Capital|After Tax Operating Income/(Long Term Debt+ Total Equity)|
| Return on Equity| After Tax Operating Income/Total Equity|
| Economic Value Added| After Tax Operating Income-Cost of capital（need outside data）* (Long Term Debt+ Total Equity)|


| Efficiency Ratios     | Formula |
| :---- | :---- |
| Operating profit margin| Operating Income (Loss)/Revenue|
|Net Profit Margin| Net Income (Common)/Revenue|
|Asset Turnover|Revenue/Total Assets(year-start)|
|Receivable turover|Revenue/Accounts & Notes Receivable(year-start)|
|Inventory turnover|Cost of Revenue/Inventories(year-start)|


| Performance Ratios     | Formula |
| :---- | :---- |
| Market Value added| Stock Price * Shares (Basic) -Total Equity|
| Market to Book ratio|Stock Price * Shares (Basic)/Total Equity|
|Earning per Share|Net Income (Common)/Shares (Basic)|
|Sales per Share|Revenue/Shares (Basic)|
|Price to Earning Ratio|Stock Price/Earning Per Share|
|Price to Book Ratio|Stock Price/(Total Equity/Shares (Basic))|

In [25]:
#只选取所需的column
cols = ['Ticker', 'SimFinId', 'Company Name', 'IndustryId', 'Sector',
       'Industry', 'Report Date', 'Fiscal Year', 'Shares (Diluted)',
        'Revenue','Cost of Revenue',  'Operating Expenses',
       'Operating Income (Loss)', 'Interest Expense, Net', 
       'Income Tax (Expense) Benefit, Net',
       'Income (Loss) from Continuing Operations', 'Net Income (Common)',
       'Cash, Cash Equivalents & Short Term Investments',
       'Accounts & Notes Receivable', 'Inventories', 'Total Current Assets',
        'Total Assets',  'Total Current Liabilities', 'Long Term Debt',
        'Total Liabilities', 'Total Equity', 
       'Fiscal Period_c', 'Publish Date_c', 'Net Income/Starting Line',
       'Depreciation & Amortization', 'Net Cash from Operating Activities',
        'Dividends Paid']
#drop rows where Industry is missing
df = df4[cols][df4['Industry'].notnull()]
#fill dividend with 0 
df['Dividends Paid'] = df['Dividends Paid'].fillna(0)
prop_nonmissing(df).sort_values(by='Prop', ascending = False)

                                                   Prop
index                                            100.00
Ticker                                           100.00
Net Cash from Operating Activities               100.00
Publish Date_c                                   100.00
Fiscal Period_c                                  100.00
Total Liabilities                                100.00
Total Current Liabilities                        100.00
Total Assets                                     100.00
Net Income (Common)                              100.00
Income (Loss) from Continuing Operations         100.00
Dividends Paid                                   100.00
Report Date                                      100.00
SimFinId                                         100.00
Company Name                                     100.00
IndustryId                                       100.00
Sector                                           100.00
Fiscal Year                                      100.00
Industry                                         100.00
Total Equity                                      99.99
Total Current Assets                              99.97
Operating Income (Loss)                           99.97
Cash, Cash Equivalents & Short Term Investments   99.78
Net Income/Starting Line                          99.65
Operating Expenses                                99.54
Revenue                                           98.52
Depreciation & Amortization                       98.33
Shares (Diluted)                                  97.21
Income Tax (Expense) Benefit, Net                 94.68
Accounts & Notes Receivable                       92.24
Cost of Revenue                                   91.25
Interest Expense, Net                             88.36
Long Term Debt                                    79.21
Inventories                                       70.01

In [26]:
#count the number of rows with no missing values. 
df.notnull().all(axis=1).sum() #3985行没missing value
#count the number of companies with no missing value
df[df.notnull().all(axis=1)]['Ticker'].nunique() #582个公司完全没有missing value

6676

954

In [76]:
rand = ['Yimeng','Zhenzhen','Xinru']*5
rand2 = random.sample(rand, len(rand))
assign = {'ratios': df.columns[df.isnull().any()], 'assignment': rand2}
pd.DataFrame(assign)

                                             ratios assignment
0                                  Shares (Diluted)     Yimeng
1                                           Revenue     Yimeng
2                                   Cost of Revenue   Zhenzhen
3                                Operating Expenses     Yimeng
4                           Operating Income (Loss)      Xinru
5                             Interest Expense, Net   Zhenzhen
6                 Income Tax (Expense) Benefit, Net      Xinru
7   Cash, Cash Equivalents & Short Term Investments     Yimeng
8                       Accounts & Notes Receivable   Zhenzhen
9                                       Inventories     Yimeng
10                             Total Current Assets   Zhenzhen
11                                   Long Term Debt      Xinru
12                                     Total Equity      Xinru
13                         Net Income/Starting Line      Xinru
14                      Depreciation & Amortization   Zhenzhen

[1, 3, 2, 3, 1, 3, 3, 1, 1, 2, 2, 1, 3, 2, 2]