In [197]:
###libraries we need for data analysis
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.impute import KNNImputer
import sys

In [3]:
!pip install git+https://github.com/simfin/simfin.git

Collecting git+https://github.com/simfin/simfin.git
  Cloning https://github.com/simfin/simfin.git to /private/var/folders/zb/w1cyxmx94h3g86hskcv8p08h0000gn/T/pip-req-build-cmutl15b
Requirement already satisfied (use --upgrade to upgrade): simfin==0.5.0 from git+https://github.com/simfin/simfin.git in /anaconda3/lib/python3.7/site-packages
Requirement already satisfied: pandas in /anaconda3/lib/python3.7/site-packages (from simfin==0.5.0) (0.23.4)
Requirement already satisfied: numpy in /anaconda3/lib/python3.7/site-packages (from simfin==0.5.0) (1.15.4)
Requirement already satisfied: requests in /anaconda3/lib/python3.7/site-packages (from simfin==0.5.0) (2.21.0)
Requirement already satisfied: pyarrow in /anaconda3/lib/python3.7/site-packages (from simfin==0.5.0) (0.15.1)
Requirement already satisfied: python-dateutil>=2.5.0 in /anaconda3/lib/python3.7/site-packages (from pandas->simfin==0.5.0) (2.7.5)
Requirement already satisfied: pytz>=2011k in /anaconda3/lib/python3.7/site-packages (from pandas->simfin==0.5.0) (2018.7)
Requirement already satisfied: certifi>=2017.4.17 in /anaconda3/lib/python3.7/site-packages (from requests->simfin==0.5.0) (2018.11.29)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /anaconda3/lib/python3.7/site-packages (from requests->simfin==0.5.0) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /anaconda3/lib/python3.7/site-packages (from requests->simfin==0.5.0) (1.24.1)
Requirement already satisfied: idna<2.9,>=2.5 in /anaconda3/lib/python3.7/site-packages (from requests->simfin==0.5.0) (2.8)
Requirement already satisfied: six>=1.0.0 in /anaconda3/lib/python3.7/site-packages (from pyarrow->simfin==0.5.0) (1.12.0)
Building wheels for collected packages: simfin
  Running setup.py bdist_wheel for simfin ... done
  Stored in directory: /private/var/folders/zb/w1cyxmx94h3g86hskcv8p08h0000gn/T/pip-ephem-wheel-cache-794_ho0e/wheels/dc/57/64/e9165288c478f38b172239c9f9712db2d0fcbc980e7357a3d8
Successfully built simfin

In [73]:
import simfin as sf
from simfin.names import *
sf.set_api_key('free')
sf.set_data_dir('~/simfin_data/') #set working dictionary
stock_df =  sf.load_shareprices(variant='daily', market='us')  #us daily share price

Dataset "us-shareprices-daily" on disk (24 days old).
- Loading from disk ... Done!

In [109]:
stock_df=pd.read_csv('/Users/xinrucheng/Desktop/capstone/us-shareprices-daily.csv',sep=';')

In [110]:
stock_df.shape # 5226627 rows and 8 columns 
stock_df.head()

,Ticker,SimFinId,Date,Open,Low,High,Close,Adj. Close,Dividend,Volume
0,GOOG,18,2007-01-03,115.9490,114.7323,118.6014,116.3447,232.92,NaN,15470700
1,GOOG,18,2007-01-04,116.6955,116.5337,120.4153,120.2436,240.73,NaN,15834200
2,GOOG,18,2007-01-05,120.0545,118.9622,121.2986,121.2214,242.69,NaN,13795600
3,GOOG,18,2007-01-08,121.3459,119.9799,121.8883,120.3232,240.89,NaN,9544400
4,GOOG,18,2007-01-09,120.7885,119.7310,121.4852,120.8009,241.84,NaN,10803000

In [111]:
stock_df['SimFinId'].nunique() # 2026 company 
stock_df.columns[stock_df.isnull().any()].tolist() # only dividend has null values

['Open', 'Low', 'High', 'Close', 'Adj. Close', 'Dividend']

In [112]:
stock_df['Dividend'].fillna(0, inplace = True)

In [113]:
stock_df=stock_df.reset_index(level=['Date','Ticker'])

KeyError: 'Level Date must be same as name (None)'

In [114]:
stock_df['Date'] = pd.to_datetime(stock_df['Date'])

In [115]:
stock_df['Date'].describe()

count                 5099376
unique                   3077
top       2017-07-10 00:00:00
freq                     1934
first     2007-01-03 00:00:00
last      2019-03-25 00:00:00
Name: Date, dtype: object

In [276]:
stock2=stock_df[['Ticker','Date','Open','Close','Dividend']]
stock2['year']=stock2['Date'].dt.year

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

# remove rows with company that only has one stock price in a certain year

In [277]:
#DOMO 2008
#DOMO 2009
#FCS 2015
#FRX 2015
#MFON 2010

In [316]:
sum(stock2[(stock2['Ticker']=='A') & (stock2['year']==2012)]['Dividend'])

0.4

In [278]:
indexNames1 = stock2[ (stock2.Ticker == 'DOMO') & (stock2.year == 2008)].index
stock2.drop(indexNames1 , inplace=True)
indexNames2 = stock2[ (stock2.Ticker == 'DOMO') & (stock2.year == 2009)].index
stock2.drop(indexNames2 , inplace=True)
indexNames3 = stock2[ (stock2.Ticker == 'FCS') & (stock2.year == 2015)].index
stock2.drop(indexNames3 , inplace=True)
indexNames4 = stock2[ (stock2.Ticker == 'FRX') & (stock2.year == 2015)].index
stock2.drop(indexNames4 , inplace=True)
indexNames5 = stock2[ (stock2.Ticker == 'MFON') & (stock2.year == 2010)].index
stock2.drop(indexNames5 , inplace=True)

In [263]:
#stock3=stock2[(stock2.Ticker != 'DOMO') & (stock2.year != 2008)]
#stock3=stock3[(stock3.Ticker != 'DOMO') & (stock3.year != 2009)]
#stock3=stock3[(stock3.Ticker != 'FCS') & (stock3.year != 2015)]
#stock3=stock3[(stock3.Ticker != 'FRX') & (stock3.year != 2015)]
#stock3=stock3[(stock3.Ticker != 'MFON') & (stock3.year != 2010)]

In [279]:
#first_last.loc[first_last['Ticker']=='DOMO',]
stock2.loc[stock2['Ticker']=='DOMO',]

        Ticker       Date     Open  Close  Dividend  year
4493624   DOMO 2012-10-03  18.0000  18.00       0.0  2012
4493625   DOMO 2012-10-04  18.0000  18.00       0.0  2012
4493626   DOMO 2012-10-05  18.0000  18.00       0.0  2012
4493627   DOMO 2012-10-08  18.0000  18.00       0.0  2012
4493628   DOMO 2012-10-09  18.0000  18.00       0.0  2012
4493629   DOMO 2012-10-10  18.0000  18.00       0.0  2012
4493630   DOMO 2012-10-11  18.0000  18.00       0.0  2012
4493631   DOMO 2012-10-12  18.0000  18.00       0.0  2012
4493632   DOMO 2012-10-15  18.0000  18.00       0.0  2012
4493633   DOMO 2012-10-16  18.0000  18.00       0.0  2012
4493634   DOMO 2012-10-17  18.0000  18.00       0.0  2012
4493635   DOMO 2012-10-18  18.0000  18.00       0.0  2012
4493636   DOMO 2012-10-19  18.0000  18.00       0.0  2012
4493637   DOMO 2012-10-22  18.0000  18.00       0.0  2012
4493638   DOMO 2012-10-23  18.0000  18.00       0.0  2012
4493639   DOMO 2012-10-24  18.0000  18.00       0.0  2012
4493640   DOMO 2012-10-25  18.0000  18.00       0.0  2012
4493641   DOMO 2012-10-26  18.0000  18.00       0.0  2012
4493642   DOMO 2012-10-31  18.0000  18.00       0.0  2012
4493643   DOMO 2012-11-01  18.0000  18.00       0.0  2012
4493644   DOMO 2012-11-02  18.0000  18.00       0.0  2012
4493645   DOMO 2012-11-05  18.0000  18.00       0.0  2012
4493646   DOMO 2012-11-06  18.0000  18.00       0.0  2012
4493647   DOMO 2012-11-07  18.0000  18.00       0.0  2012
4493648   DOMO 2012-11-08  18.0000  18.00       0.0  2012
4493649   DOMO 2012-11-09  18.0000  18.00       0.0  2012
4493650   DOMO 2012-11-12  18.0000  18.00       0.0  2012
4493651   DOMO 2012-11-13  18.0000  18.00       0.0  2012
4493652   DOMO 2012-11-14  18.0000  18.00       0.0  2012
4493653   DOMO 2012-11-15  18.0000  18.00       0.0  2012
...        ...        ...      ...    ...       ...   ...
4494301   DOMO 2019-02-11  29.8000  29.57       0.0  2019
4494302   DOMO 2019-02-12  29.6200  30.01       0.0  2019
4494303   DOMO 2019-02-13  30.2400  29.21       0.0  2019
4494304   DOMO 2019-02-14  29.2500  31.19       0.0  2019
4494305   DOMO 2019-02-15  31.3108  31.29       0.0  2019
4494306   DOMO 2019-02-19  31.8400  32.77       0.0  2019
4494307   DOMO 2019-02-20  32.8699  33.59       0.0  2019
4494308   DOMO 2019-02-21  33.5379  32.19       0.0  2019
4494309   DOMO 2019-02-22  32.5200  32.96       0.0  2019
4494310   DOMO 2019-02-25  33.1300  35.44       0.0  2019
4494311   DOMO 2019-02-26  35.4500  34.73       0.0  2019
4494312   DOMO 2019-02-27  34.4800  34.18       0.0  2019
4494313   DOMO 2019-02-28  34.1900  34.69       0.0  2019
4494314   DOMO 2019-03-01  34.7900  35.42       0.0  2019
4494315   DOMO 2019-03-04  36.0000  35.34       0.0  2019
4494316   DOMO 2019-03-05  34.4100  32.25       0.0  2019
4494317   DOMO 2019-03-06  32.2694  31.19       0.0  2019
4494318   DOMO 2019-03-07  31.5400  32.27       0.0  2019
4494319   DOMO 2019-03-08  31.1000  31.05       0.0  2019
4494320   DOMO 2019-03-11  31.1400  30.56       0.0  2019
4494321   DOMO 2019-03-12  30.8000  30.47       0.0  2019
4494322   DOMO 2019-03-13  30.8400  31.20       0.0  2019
4494323   DOMO 2019-03-14  37.7900  37.79       0.0  2019
4494324   DOMO 2019-03-15  37.9700  41.71       0.0  2019
4494325   DOMO 2019-03-18  41.3900  43.19       0.0  2019
4494326   DOMO 2019-03-19  43.7400  44.01       0.0  2019
4494327   DOMO 2019-03-20  43.6500  43.43       0.0  2019
4494328   DOMO 2019-03-21  42.8500  43.56       0.0  2019
4494329   DOMO 2019-03-22  43.0000  43.42       0.0  2019
4494330   DOMO 2019-03-25  43.1200  43.58       0.0  2019

[707 rows x 6 columns]

In [280]:
#stock3.head()
#stock3.describe()
#stock2.loc[stock2['Ticker']=='DOMO',]
#first_last.loc[first_last['Ticker']=='DOMO',]

In [281]:
##get the beginning and last entries of each Ticker and Year
df = stock2.groupby(['Ticker','year'])
first_last=(pd.concat([df.head(1), df.tail(1)])
   .sort_values(['Ticker','Date'])
            .drop_duplicates()
   .reset_index(drop=True))
first_last.head()

  Ticker       Date   Open  Close  Dividend  year
0      A 2007-01-03  34.99  34.30       0.0  2007
1      A 2007-12-31  37.30  36.74       0.0  2007
2      A 2008-01-02  36.67  36.30       0.0  2008
3      A 2008-12-31  14.92  15.63       0.0  2008
4      A 2009-01-02  15.60  16.24       0.0  2009

In [320]:
# get dividend data frame
dividend=pd.DataFrame(stock2.groupby(['Ticker','year']).sum()['Dividend']).reset_index()
dividend

      Ticker  year  Dividend
0          A  2007     0.000
1          A  2008     0.000
2          A  2009     0.000
3          A  2010     0.000
4          A  2011     0.000
5          A  2012     0.400
6          A  2013     0.492
7          A  2014    16.146
8          A  2015     0.515
9          A  2016     0.477
10         A  2017     0.545
11         A  2018     0.611
12         A  2019     0.000
13        AA  2016     0.090
14        AA  2017     0.000
15        AA  2018     0.000
16        AA  2019     0.000
17       AAC  2014     0.000
18       AAC  2015     0.000
19       AAC  2016     0.000
20       AAC  2017     0.000
21       AAC  2018     0.000
22       AAC  2019     0.000
23       AAL  2007     0.000
24       AAL  2008     0.000
25       AAL  2009     0.000
26       AAL  2010     0.000
27       AAL  2011     0.000
28       AAL  2012     0.000
29       AAL  2013     0.000
...      ...   ...       ...
22166   ZYNE  2016     0.000
22167   ZYNE  2017     0.000
22168   ZYNE  2018     0.000
22169   ZYNE  2019     0.000
22170   ZYXI  2007     0.000
22171   ZYXI  2008     0.000
22172   ZYXI  2009     0.000
22173   ZYXI  2010     0.000
22174   ZYXI  2011     0.000
22175   ZYXI  2012     0.000
22176   ZYXI  2013     0.000
22177   ZYXI  2014     0.000
22178   ZYXI  2015     0.000
22179   ZYXI  2016     0.000
22180   ZYXI  2017     0.000
22181   ZYXI  2018     0.000
22182   ZYXI  2019     0.000
22183    low  2007     0.260
22184    low  2008     0.330
22185    low  2009     0.350
22186    low  2010     0.400
22187    low  2011     0.500
22188    low  2012     0.600
22189    low  2013     0.680
22190    low  2014     0.820
22191    low  2015     1.020
22192    low  2016     1.260
22193    low  2017     1.520
22194    low  2018     1.780
22195    low  2019     0.480

[22196 rows x 3 columns]

In [364]:
stock_return0=first_last[['Ticker','year']].drop_duplicates().reset_index(drop=True)
stock_return0['Return'] = np.nan
stock_return=dividend.merge(stock_return0,on=['Ticker','year'])
stock_return

      Ticker  year  Dividend  Return
0          A  2007     0.000     NaN
1          A  2008     0.000     NaN
2          A  2009     0.000     NaN
3          A  2010     0.000     NaN
4          A  2011     0.000     NaN
5          A  2012     0.400     NaN
6          A  2013     0.492     NaN
7          A  2014    16.146     NaN
8          A  2015     0.515     NaN
9          A  2016     0.477     NaN
10         A  2017     0.545     NaN
11         A  2018     0.611     NaN
12         A  2019     0.000     NaN
13        AA  2016     0.090     NaN
14        AA  2017     0.000     NaN
15        AA  2018     0.000     NaN
16        AA  2019     0.000     NaN
17       AAC  2014     0.000     NaN
18       AAC  2015     0.000     NaN
19       AAC  2016     0.000     NaN
20       AAC  2017     0.000     NaN
21       AAC  2018     0.000     NaN
22       AAC  2019     0.000     NaN
23       AAL  2007     0.000     NaN
24       AAL  2008     0.000     NaN
25       AAL  2009     0.000     NaN
26       AAL  2010     0.000     NaN
27       AAL  2011     0.000     NaN
28       AAL  2012     0.000     NaN
29       AAL  2013     0.000     NaN
...      ...   ...       ...     ...
22166   ZYNE  2016     0.000     NaN
22167   ZYNE  2017     0.000     NaN
22168   ZYNE  2018     0.000     NaN
22169   ZYNE  2019     0.000     NaN
22170   ZYXI  2007     0.000     NaN
22171   ZYXI  2008     0.000     NaN
22172   ZYXI  2009     0.000     NaN
22173   ZYXI  2010     0.000     NaN
22174   ZYXI  2011     0.000     NaN
22175   ZYXI  2012     0.000     NaN
22176   ZYXI  2013     0.000     NaN
22177   ZYXI  2014     0.000     NaN
22178   ZYXI  2015     0.000     NaN
22179   ZYXI  2016     0.000     NaN
22180   ZYXI  2017     0.000     NaN
22181   ZYXI  2018     0.000     NaN
22182   ZYXI  2019     0.000     NaN
22183    low  2007     0.260     NaN
22184    low  2008     0.330     NaN
22185    low  2009     0.350     NaN
22186    low  2010     0.400     NaN
22187    low  2011     0.500     NaN
22188    low  2012     0.600     NaN
22189    low  2013     0.680     NaN
22190    low  2014     0.820     NaN
22191    low  2015     1.020     NaN
22192    low  2016     1.260     NaN
22193    low  2017     1.520     NaN
22194    low  2018     1.780     NaN
22195    low  2019     0.480     NaN

[22196 rows x 4 columns]

In [360]:
thisTicker = stock_return['Ticker'][0]
thisYear = stock_return['year'][0]
open = float(first_last.loc[(first_last['Ticker']==thisTicker) & (first_last['year']==thisYear), "Open"].iloc[0])
close = first_last.loc[(first_last['Ticker']==thisTicker) & (first_last['year']==thisYear), "Close"].iloc[1]
div = stock_return['Dividend'][0]
stock_return['Return'][0] = (close - open + div) / open
stock_return['Return']

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

0        0.050014
1             NaN
2             NaN
3             NaN
4             NaN
5             NaN
6             NaN
7             NaN
8             NaN
9             NaN
10            NaN
11            NaN
12            NaN
13            NaN
14            NaN
15            NaN
16            NaN
17            NaN
18            NaN
19            NaN
20            NaN
21            NaN
22            NaN
23            NaN
24            NaN
25            NaN
26            NaN
27            NaN
28            NaN
29            NaN
           ...
22166         NaN
22167         NaN
22168         NaN
22169         NaN
22170         NaN
22171         NaN
22172         NaN
22173         NaN
22174         NaN
22175         NaN
22176         NaN
22177         NaN
22178         NaN
22179         NaN
22180         NaN
22181         NaN
22182         NaN
22183         NaN
22184         NaN
22185         NaN
22186         NaN
22187         NaN
22188         NaN
22189         NaN
22190         NaN
22191         NaN
22192         NaN
22193         NaN
22194         NaN
22195         NaN
Name: Return, Length: 22196, dtype: float64

In [361]:
for i in range(0,len(stock_return)-1):
    thisTicker = stock_return['Ticker'][i]
    thisYear = stock_return['year'][i]
    open = float(first_last.loc[(first_last['Ticker']==thisTicker) & (first_last['year']==thisYear), "Open"].iloc[0])
    close = first_last.loc[(first_last['Ticker']==thisTicker) & (first_last['year']==thisYear), "Close"].iloc[1]
    div = stock_return['Dividend'][i]
    stock_return['Return'][i] = (close - open + div) / open

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [362]:
stock_return=stock_return[['Ticker','year','Return']]
stock_return

      Ticker  year    Return
0          A  2007  0.050014
1          A  2008 -0.573766
2          A  2009  0.991667
3          A  2010  0.319847
4          A  2011 -0.159528
5          A  2012  0.153460
6          A  2013  0.367844
7          A  2014 -0.000245
8          A  2015  0.027805
9          A  2016  0.121213
10         A  2017  0.469954
11         A  2018  0.009656
12         A  2019  0.195789
13        AA  2016  0.274661
14        AA  2017  0.883566
15        AA  2018 -0.508324
16        AA  2019  0.079561
17       AAC  2014  0.546000
18       AAC  2015 -0.382572
19       AAC  2016 -0.616525
20       AAC  2017  0.234568
21       AAC  2018 -0.844789
22       AAC  2019  0.435714
23       AAL  2007 -0.727037
24       AAL  2008 -0.468729
25       AAL  2009 -0.373868
26       AAL  2010  1.068182
27       AAL  2011 -0.498516
28       AAL  2012  1.596154
29       AAL  2013  0.840379
...      ...   ...       ...
22166   ZYNE  2016  0.589195
22167   ZYNE  2017 -0.236120
22168   ZYNE  2018 -0.764659
22169   ZYNE  2019  0.919463
22170   ZYXI  2007  3.923077
22171   ZYXI  2008  0.270492
22172   ZYXI  2009 -0.253521
22173   ZYXI  2010 -0.433962
22174   ZYXI  2011  0.096774
22175   ZYXI  2012  0.000000
22176   ZYXI  2013 -0.471429
22177   ZYXI  2014 -0.527778
22178   ZYXI  2015  1.500000
22179   ZYXI  2016 -0.337748
22180   ZYXI  2017  8.190751
22181   ZYXI  2018 -0.075472
22182   ZYXI  2019  0.470000
22183    low  2007 -0.266902
22184    low  2008 -0.040825
22185    low  2009  0.104186
22186    low  2010  0.083794
22187    low  2011  0.026577
22188    low  2012  0.407638
22189    low  2013  0.390257
22190    low  2014  0.405045
22191    low  2015  0.116812
22192    low  2016 -0.030928
22193    low  2017  0.317250
22194    low  2018  0.012040
22195    low  2019       NaN

[22196 rows x 3 columns]

In [363]:
stock_return.to_csv('/Users/xinrucheng/Desktop/capstone/stock_return.csv', index = False)

# 2007 data

In [101]:
close2007=stock_df[stock_df['Date']=='2017-12-31'][['Ticker','Close']]
open2007=stock_df[stock_df['Date']=='2017-01-03'][['Ticker','Open']]
div2007=pd.DataFrame(stock_df[stock_df['Date'].dt.year==2007].groupby(stock_df['Ticker']).sum()['Dividend'])
oc2007=open2007.merge(close2007,on='Ticker')
stock2007=oc2007.merge(div2007,on='Ticker')
stock2007['return']=((stock2007['Close']-stock2007['Open'])+stock2007['Dividend'])/stock2007['Open']
close2007
#dividend = stock_df[stock_df['Date'].dt.year==2007]
#dividend2007=dividend.groupby(dividend['Ticker'])['Dividend'].sum()

#df_2008=all_df[(all_df['Date'].dt.year == 2008) & (all_df['Date'].dt.month == 10)] 
#go=df_2008['Open'].groupby(df_2008['Date'])

Empty DataFrame
Columns: [Ticker, Close]
Index: []

# 2008 data

In [85]:
close2008=stock_df[stock_df['Date']=='2008-12-31'][['Ticker','Close']]
open2008=stock_df[stock_df['Date']=='2008-01-02'][['Ticker','Open']]
div2008=pd.DataFrame(stock_df[stock_df['Date'].dt.year==2008].groupby(stock_df['Ticker']).sum()['Dividend'])
oc2008=open2008.merge(close2008,on='Ticker')
stock2008=oc2008.merge(div2008,on='Ticker')
stock2008['2008_return']=((stock2008['Close']-stock2008['Open'])+stock2008['Dividend'])/stock2008['Open']
st08=pd.DataFrame(stock2008[['Ticker','2008_return']])

# 2009 data

In [86]:
close2009=stock_df[stock_df['Date']=='2009-12-31'][['Ticker','Close']]
open2009=stock_df[stock_df['Date']=='2009-01-02'][['Ticker','Open']]
div2009=pd.DataFrame(stock_df[stock_df['Date'].dt.year==2009].groupby(stock_df['Ticker']).sum()['Dividend'])
oc2009=open2009.merge(close2009,on='Ticker')
stock2009=oc2009.merge(div2009,on='Ticker')
stock2009['2009_return']=((stock2009['Close']-stock2009['Open'])+stock2009['Dividend'])/stock2009['Open']
st09=pd.DataFrame(stock2009[['Ticker','2009_return']])

# 2010 data

In [87]:
close2010=stock_df[stock_df['Date']=='2010-12-31'][['Ticker','Close']]
open2010=stock_df[stock_df['Date']=='2010-01-04'][['Ticker','Open']]
div2010=pd.DataFrame(stock_df[stock_df['Date'].dt.year==2010].groupby(stock_df['Ticker']).sum()['Dividend'])
oc2010=open2010.merge(close2010,on='Ticker')
stock2010=oc2010.merge(div2010,on='Ticker')
stock2010['2010_return']=((stock2010['Close']-stock2010['Open'])+stock2010['Dividend'])/stock2010['Open']
st10=pd.DataFrame(stock2010[['Ticker','2010_return']])

# 2011 data

In [88]:
close2011=stock_df[stock_df['Date']=='2011-12-30'][['Ticker','Close']]
open2011=stock_df[stock_df['Date']=='2011-01-03'][['Ticker','Open']]
div2011=pd.DataFrame(stock_df[stock_df['Date'].dt.year==2011].groupby(stock_df['Ticker']).sum()['Dividend'])
oc2011=open2011.merge(close2011,on='Ticker')
stock2011=oc2011.merge(div2011,on='Ticker')
stock2011['2011_return']=((stock2011['Close']-stock2011['Open'])+stock2011['Dividend'])/stock2011['Open']
st11=pd.DataFrame(stock2011[['Ticker','2011_return']])

# 2012 data

In [89]:
close2012=stock_df[stock_df['Date']=='2012-12-31'][['Ticker','Close']]
open2012=stock_df[stock_df['Date']=='2012-01-03'][['Ticker','Open']]
div2012=pd.DataFrame(stock_df[stock_df['Date'].dt.year==2012].groupby(stock_df['Ticker']).sum()['Dividend'])
oc2012=open2012.merge(close2012,on='Ticker')
stock2012=oc2012.merge(div2012,on='Ticker')
stock2012['2012_return']=((stock2012['Close']-stock2012['Open'])+stock2012['Dividend'])/stock2012['Open']
st12=pd.DataFrame(stock2012[['Ticker','2012_return']])

# 2013 data

In [90]:
close2013=stock_df[stock_df['Date']=='2013-12-31'][['Ticker','Close']]
open2013=stock_df[stock_df['Date']=='2013-01-02'][['Ticker','Open']]
div2013=pd.DataFrame(stock_df[stock_df['Date'].dt.year==2013].groupby(stock_df['Ticker']).sum()['Dividend'])
oc2013=open2013.merge(close2013,on='Ticker')
stock2013=oc2013.merge(div2013,on='Ticker')
stock2013['2013_return']=((stock2013['Close']-stock2013['Open'])+stock2013['Dividend'])/stock2013['Open']
st13=pd.DataFrame(stock2013[['Ticker','2013_return']])

# 2014 data

In [91]:
close2014=stock_df[stock_df['Date']=='2014-12-31'][['Ticker','Close']]
open2014=stock_df[stock_df['Date']=='2014-01-02'][['Ticker','Open']]
div2014=pd.DataFrame(stock_df[stock_df['Date'].dt.year==2014].groupby(stock_df['Ticker']).sum()['Dividend'])
oc2014=open2014.merge(close2014,on='Ticker')
stock2014=oc2014.merge(div2014,on='Ticker')
stock2014['2014_return']=((stock2014['Close']-stock2014['Open'])+stock2014['Dividend'])/stock2014['Open']
st14=pd.DataFrame(stock2014[['Ticker','2014_return']])

# 2015 data

In [92]:
close2015=stock_df[stock_df['Date']=='2015-12-31'][['Ticker','Close']]
open2015=stock_df[stock_df['Date']=='2015-01-02'][['Ticker','Open']]
div2015=pd.DataFrame(stock_df[stock_df['Date'].dt.year==2015].groupby(stock_df['Ticker']).sum()['Dividend'])
oc2015=open2015.merge(close2015,on='Ticker')
stock2015=oc2015.merge(div2015,on='Ticker')
stock2015['2015_return']=((stock2015['Close']-stock2015['Open'])+stock2015['Dividend'])/stock2015['Open']
st15=pd.DataFrame(stock2015[['Ticker','2015_return']])

# 2016 data

In [93]:
close2016=stock_df[stock_df['Date']=='2016-12-30'][['Ticker','Close']]
open2016=stock_df[stock_df['Date']=='2016-01-04'][['Ticker','Open']]
div2016=pd.DataFrame(stock_df[stock_df['Date'].dt.year==2016].groupby(stock_df['Ticker']).sum()['Dividend'])
oc2016=open2016.merge(close2016,on='Ticker')
stock2016=oc2016.merge(div2016,on='Ticker')
stock2016['2016_return']=((stock2016['Close']-stock2016['Open'])+stock2016['Dividend'])/stock2016['Open']
st16=pd.DataFrame(stock2016[['Ticker','2016_return']])

# 2017 data

In [94]:
close2017=stock_df[stock_df['Date']=='2017-12-29'][['Ticker','Close']]
open2017=stock_df[stock_df['Date']=='2017-01-03'][['Ticker','Open']]
div2017=pd.DataFrame(stock_df[stock_df['Date'].dt.year==2017].groupby(stock_df['Ticker']).sum()['Dividend'])
oc2017=open2017.merge(close2017,on='Ticker')
stock2017=oc2017.merge(div2017,on='Ticker')
stock2017['2017_return']=((stock2017['Close']-stock2017['Open'])+stock2017['Dividend'])/stock2017['Open']
st17=pd.DataFrame(stock2017[['Ticker','2017_return']])

# 2018 data

In [95]:
close2018=stock_df[stock_df['Date']=='2018-12-31'][['Ticker','Close']]
open2018=stock_df[stock_df['Date']=='2018-01-02'][['Ticker','Open']]
div2018=pd.DataFrame(stock_df[stock_df['Date'].dt.year==2018].groupby(stock_df['Ticker']).sum()['Dividend'])
oc2018=open2018.merge(close2018,on='Ticker')
stock2018=oc2018.merge(div2018,on='Ticker')
stock2018['2018_return']=((stock2018['Close']-stock2018['Open'])+stock2018['Dividend'])/stock2018['Open']
st18=pd.DataFrame(stock2018[['Ticker','2018_return']])

# 2019 data

In [96]:
close2019=stock_df[stock_df['Date']=='2019-03-01'][['Ticker','Close']] #last day is 03/01 for 2019
open2019=stock_df[stock_df['Date']=='2019-01-02'][['Ticker','Open']] 
div2019=pd.DataFrame(stock_df[stock_df['Date'].dt.year==2019].groupby(stock_df['Ticker']).sum()['Dividend'])
oc2019=open2019.merge(close2019,on='Ticker')
stock2019=oc2019.merge(div2019,on='Ticker')
stock2019['2019_return']=((stock2019['Close']-stock2019['Open'])+stock2019['Dividend'])/stock2019['Open']
st19=pd.DataFrame(stock2019[['Ticker','2019_return']])
close2019

        Ticker     Close
3060         A   81.2400
3645        AA   29.6600
4755       AAC    2.8700
7816       AAL   34.6400
10877     AAME    2.8565
13938      AAN   54.8500
15304     AAOI   13.2400
18365     AAON   41.2600
21426      AAP  160.6200
24487     AAPL  174.9700
27548     AAWW   54.0000
30609     AAXN   54.4500
33670       AB   29.5500
38137     ABBV   80.1000
41198      ABC   82.9800
44462      ABG   71.1900
47523      ABM   36.0100
50584     ABMC    0.0700
53645     ABMD  348.0600
56706      ABT   78.5900
60234       AC   41.9400
60317      ACA   33.9300
63378     ACAD   26.6000
69001     ACCO    9.3200
72062     ACET    0.1996
77523     ACGL   32.8700
80584     ACHC   30.4100
81288     ACIA   54.1900
84349     ACLS   21.1100
87154     ACLZ    0.1200
...        ...       ...
4995229   XONE   10.6400
4998489   XPEL    6.3100
5001550    XPO   49.7100
5004611   XRAY   49.1300
5007672    XRX   31.2900
5007964   XSPY    0.0600
5009820    XYL   76.3700
5012881      Y  643.2300
5014641   YELP   37.1300
5015114   YEXT   19.2700
5017481   YGYI    6.9900
5020512   YOGA    0.6110
5023573    YUM   95.3700
5026466   ZAGG   11.8600
5027565   ZAYO   25.0700
5030626    ZBH  125.4100
5031316   ZEDG    1.9500
5032523    ZEN   80.2700
5035584   ZEUS   19.4500
5037500     ZG   39.9400
5039580   ZGNX   53.9500
5042641   ZION   51.1700
5045702   ZIOP    2.8900
5047513   ZNGA    5.3400
5047754     ZS   60.5700
5049284    ZTS   95.7500
5052345   ZUMZ   25.3200
5053244   ZYNE    5.1500
5056303   ZYXI    4.9100
5059364    low  103.9600

[1856 rows x 2 columns]

In [97]:
stock_return=st08.merge(st09,on='Ticker').merge(st10,on='Ticker').merge(st11,on='Ticker').merge(st12,on='Ticker').merge(st13,on='Ticker').merge(st14,on='Ticker').merge(st15,on='Ticker').merge(st16,on='Ticker').merge(st17,on='Ticker').merge(st18,on='Ticker').merge(st19,on='Ticker')

In [67]:
stock_return.to_csv('/Users/xinrucheng/Desktop/capstone/stock_return.csv', index = False)

In [98]:
stock_return

,Ticker,2008_return,2009_return,2010_return,2011_return,2012_return,2013_return,2014_return,2015_return,2016_return,2017_return,2018_return,2019_return
0,A,-0.573766,0.991667,0.319847,-0.159528,0.153460,0.367844,-0.000245,0.027805,0.121213,0.469954,0.009656,0.221654
1,AAL,-0.468729,-0.373868,1.068182,-0.498516,1.596154,0.840379,1.147188,-0.212417,0.140470,0.108926,-0.378750,0.104259
2,AAME,-0.521290,0.620253,0.537879,-0.033981,0.611012,0.330097,-0.004890,0.255639,-0.174349,-0.155556,-0.298064,0.175514
3,AAN,0.293454,0.039241,0.365430,0.304098,0.040837,0.026184,0.041658,-0.270237,0.451493,0.233410,0.059407,0.326802
4,AAON,0.107976,-0.022436,0.484606,0.111614,0.024584,1.261563,0.063500,0.039468,0.458808,0.104933,-0.042490,0.193520
5,AAP,-0.106041,0.202599,0.631204,0.050677,0.020382,0.509321,0.445451,-0.062791,0.134740,-0.414861,0.562934,0.028560
6,AAPL,-0.571685,1.453793,0.511315,0.243704,0.390506,0.162147,0.482183,-0.036808,0.150473,0.482642,-0.056417,0.134353
7,AAWW,-0.650194,0.960526,0.469984,-0.318859,0.124873,-0.096399,0.200097,-0.168271,0.287654,0.123563,-0.280034,0.308140
8,AAXN,-0.633588,-0.173585,0.053812,0.077895,0.706107,0.745228,0.671717,-0.352434,0.425882,0.086066,0.649698,0.266574
9,AB,-0.677853,0.408008,-0.128727,-0.382128,0.378845,0.299150,0.301408,-0.014149,0.060606,0.144421,0.205589,0.119807
10,ABC,-0.183494,0.467222,0.310765,0.098949,0.159121,0.632829,0.300171,0.157930,-0.222217,0.188320,-0.175909,0.130730
11,ABG,-0.653567,1.517467,0.582192,0.147419,0.453267,0.654557,0.413780,-0.119467,-0.067553,0.020734,0.036703,0.083397
12,ABM,-0.037420,0.132015,0.280534,-0.201658,-0.018510,0.443867,0.028998,0.009062,0.478974,-0.053488,-0.133386,0.148524
13,ABMC,-0.755102,-0.620690,-0.250000,0.888889,-0.187500,0.000000,0.000000,0.000000,-0.153846,-0.285714,-0.300000,0.000000
14,ABMD,0.079553,-0.469623,0.084650,0.900206,-0.291513,0.953251,0.427607,1.359028,0.268919,0.664979,0.727741,0.101665
15,ABT,-0.022399,0.037736,-0.084148,0.203355,0.193178,1.276771,0.205041,0.013702,-0.102185,0.504657,0.262027,0.121040
16,ACAD,-0.918335,0.450549,-0.090909,-0.092437,3.227273,4.228033,0.277666,0.108175,-0.172216,0.033642,-0.467917,0.679293
17,ACCO,-0.785047,1.122449,0.137517,0.119490,-0.262312,-0.120419,0.334815,-0.213892,0.872310,-0.082707,-0.426939,0.393124
18,ACET,0.312020,-0.467131,0.759082,-0.222344,0.447109,1.476938,-0.129019,0.243490,-0.160559,-0.519946,-0.911314,-0.765176
19,ACGL,0.000719,0.022140,0.226146,0.259183,0.164853,0.344980,-0.002698,0.178211,0.253849,0.045378,-0.121148,0.246492
20,ACHC,-0.550003,-0.103184,0.491095,0.480832,1.377800,1.014043,0.294628,0.011498,-0.478740,-0.025097,-0.213039,0.196302
21,ACLS,-0.888646,1.685714,1.402778,-0.625352,0.000000,0.706294,0.040650,0.011719,0.426471,0.959044,-0.386207,0.207666
22,ACM,0.082042,-0.112617,0.015245,-0.270567,0.133873,0.225739,0.031940,-0.018916,0.228378,0.011710,-0.290305,0.208509
23,ACN,-0.067862,0.298402,0.187741,0.117037,0.260849,0.242196,0.119755,0.189026,0.163906,0.325865,-0.063192,0.181890
24,ACY,-0.629331,0.702703,0.152866,-0.666667,1.328926,0.206461,-0.459006,0.487119,-0.221582,0.571134,-0.380583,0.307735
25,ADBE,-0.503730,0.742187,-0.160164,-0.083036,0.312892,0.579088,0.230952,0.292160,0.121826,0.694286,0.286551,0.200537
26,ADES,-0.588324,0.918239,0.814634,1.039640,-0.261592,2.125648,-0.159661,-0.689024,0.212598,0.119355,0.194416,0.151429
27,ADI,-0.365181,0.704211,0.212016,-0.024682,0.186506,0.221729,0.151050,0.022270,0.369838,0.251102,-0.016697,0.296918
28,ADM,-0.367184,0.101625,-0.025413,-0.037348,-0.037684,0.569296,0.225359,-0.275862,0.297425,-0.094769,0.052488,0.054474
29,ADP,-0.063309,0.114336,0.094626,0.186845,0.066679,0.422391,0.186502,0.045071,0.265405,0.167513,0.154184,0.191545
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1259,WSBC,0.371913,-0.516862,0.567871,0.043094,0.144855,0.442147,0.114304,-0.118016,0.483654,-0.044465,-0.080418,0.170395
1260,WSM,-0.679793,1.687737,0.739798,0.091112,0.185608,0.320667,0.318602,-0.213910,-0.137095,0.092327,-0.001532,0.191079
1261,WSTL,-0.812057,3.800000,1.771186,-0.333333,-0.174107,1.131579,-0.629630,-0.162401,-0.480000,0.420455,-0.496000,0.180851
1262,WTR,0.005090,-0.118765,0.328993,0.012749,0.176939,0.179196,0.160679,0.143511,0.033186,0.334067,-0.105047,0.065265
1263,WTS,-0.149598,0.255907,0.184202,-0.062500,0.235210,0.410129,0.036258,-0.212116,0.375417,0.165653,-0.142951,0.279405
1264,WTW,-0.328880,0.019447,0.295693,0.470449,-0.065164,-0.377997,-0.248411,-0.065574,-0.463449,2.830450,-0.161957,-0.418191
1265,WU,-0.408474,0.321454,-0.014660,-0.005356,-0.252264,0.280664,0.069106,0.027162,0.273349,-0.099177,-0.065058,0.080712
1266,WWD,-0.314370,0.123542,0.457209,0.079644,-0.084088,0.172581,0.092854,0.011313,0.425728,0.103251,-0.020798,0.303762
1267,WWE,-0.145392,0.523161,0.005773,-0.301808,-0.111465,1.135169,-0.225378,0.477419,0.082569,0.672590,1.443939,0.167531
1268,WY,-0.551129,0.395215,0.038811,0.003123,0.490566,0.136140,0.176227,-0.130750,0.061674,0.207741,-0.343343,0.201422
1269,WYNN,-0.625255,0.477445,0.834422,0.101082,0.065694,0.729054,-0.201556,-0.514166,0.320454,0.956307,-0.384289,0.308420
1270,X,-0.679665,0.473224,0.038993,-0.550346,-0.122903,0.179508,-0.101101,-0.699154,3.230573,0.048903,-0.481586,0.256324
1271,XEC,-0.364235,0.957689,0.644087,-0.305608,-0.081017,0.780648,0.037361,-0.143482,0.527130,-0.109940,-0.492993,0.213517
1272,XEL,-0.137500,0.193787,0.148386,0.211343,-0.003944,0.074732,0.329989,0.032482,0.181129,0.216249,0.053297,0.117168
1273,XLNX,-0.154696,0.450226,0.168903,0.119877,0.127834,0.288187,-0.048609,0.107561,0.337164,0.133817,0.275405,0.522964
1274,XOM,-0.135635,-0.127529,0.089348,0.174851,0.032104,0.180772,-0.050210,-0.123794,0.203097,-0.046624,-0.147936,0.200000
1275,XPEL,-0.936869,-0.100000,-0.724444,5.854839,2.285714,6.122222,1.422222,-0.679841,0.333333,0.000000,3.266783,0.037829
1276,XPO,0.045455,0.040650,0.969231,0.165094,0.390400,0.489518,0.554964,-0.338432,0.659362,1.093486,-0.383351,-0.106899
1277,XRAY,-0.367349,0.262313,-0.032648,0.021329,0.116938,0.211586,0.116713,0.172837,-0.019760,0.140641,-0.430909,0.329275
1278,XRX,-0.505401,0.066813,0.353923,-0.311317,-0.159007,0.749285,0.151572,-0.229107,-0.153939,0.261198,-0.293397,0.606263
1279,Y,-0.280450,0.005428,0.127010,-0.051853,0.164774,0.174660,0.161654,0.026680,0.277966,-0.029138,0.059099,0.049075
1280,YUM,-0.160230,0.123507,0.421697,0.217951,0.133870,0.140519,-0.013399,0.017702,0.254347,0.302863,0.136458,0.051597
1281,ZAGG,0.240000,3.170213,0.905000,-0.091260,0.004093,-0.423841,0.575406,0.597080,-0.328288,1.580420,-0.469919,0.236705
1282,ZBH,-0.390806,0.447356,-0.094925,-0.012569,0.236784,0.390385,0.233941,-0.094037,0.030063,0.170983,-0.134876,0.218519
1283,ZEUS,-0.316090,0.594634,-0.134256,-0.196704,-0.091578,0.289836,-0.386465,-0.348603,1.168599,-0.123883,-0.341139,0.390714
1284,ZION,-0.441403,-0.490945,0.877030,-0.340340,0.286915,0.375229,-0.032441,-0.040112,0.631024,0.172154,-0.199157,0.285786
1285,ZIOP,-0.827893,3.417910,0.553333,-0.067653,-0.077605,0.016393,0.168203,0.629412,-0.332918,-0.237569,-0.550481,0.587912
1286,ZUMZ,-0.692937,0.702811,1.092679,0.022845,-0.297503,0.316456,0.486913,-0.610811,0.476351,-0.051253,-0.106294,0.333354
1287,ZYXI,0.270492,-0.253521,-0.433962,0.096774,0.000000,-0.471429,-0.527778,1.500000,-0.337748,8.190751,-0.075472,0.636667
1288,low,-0.040825,0.104186,0.083794,0.026577,0.407638,0.390257,0.405045,0.116812,-0.030928,0.317250,0.012040,0.144924